// Navbar
$base-navbar-item-color: #bcbcbc;

// Footer
$footer-text-color: #777;

// Custom colors
$nj-orange: #f58f00;

// Social
$social-background-color: #6e6e6e;
$social-separator-color:  #60615e;
