// Fonts
@import url('http://fonts.googleapis.com/css?family=Oswald');
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('http://fonts.googleapis.com/css?family=Amatic+SC');

// Variables
@import 'variables';
@import 'colors';
@import 'mixins';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html,
body {
  margin:  0;
  padding: 2.3em 0 12em;
  height:  100%;

  @include media-breakpoint-up(lg) {
    padding-bottom: 3em;
  }
}

#app {
  height:     100%;
  min-height: 100%;
  position:   relative;
}

.bg-nj-gray {
  background-color: #dedede;
}