.culture {
  background-color: #f6ad2a;
}

.music {
  background-color: #b61fd6;
}

.dance {
  background-color: #5b065e;
}

.theater {
  background-color: #fa3d42;
}

.cinema {
  background-color: #1fb9ec;
}

.volunteering {
  background-color: #25dde6;
}

.adventure {
  background-color: #00a100;
}

.message {
  font-family: "Oswald";
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.5em;
  text-transform: uppercase;
}
.message b:last-of-type {
  color: #f58f00;
}
