@use '../../sass/app.scss' as *;

.album-show {
  // margin-bottom: 6em; // This only works for desktop, let's fix footer to remove this

  &__title {
    font-family:    'Oswald';
    font-size:      2.8em;
    text-transform: uppercase;
  }

  &__description {
    font-family: 'Source Sans Pro';
    font-size:   1em;
  }

  .react-photo-gallery--gallery {
    img {
      object-fit: cover;
    }
  }
}
