@use '../../sass/app.scss' as *;

.spectacle-pill {
  display:          flex;
  padding:          .6em;
  background-color: $pill-background-color;
  font-family:      "Oswald";
  text-decoration:  none !important;

  &:hover {
    opacity: .9;
  }

  >* {
    margin: 0 .05em;
  }

  &__img {
    width:      $dater-height;
    object-fit: cover;
  }

  &__caption {
    display:        flex;
    flex-direction: column;
    margin-left:    .4em;
    width:          100%;
    overflow:       hidden;
  }

  &__title {
    text-transform: uppercase;
    color:          $black;
    white-space:    nowrap;
    text-overflow:  ellipsis;
    overflow:       hidden;
  }

  &__author {
    display:        flex;
    text-transform: uppercase;
    width:          100%;
    overflow:       hidden;
  }

  &__author-name {
    color:         #5e5e5e;
    font-size:     .9em;
    white-space:   nowrap;
    text-overflow: ellipsis;
    overflow:      hidden;
  }

  &__author-separator {
    color:     #5e5e5e;
    font-size: .9em;
  }

  &__author-category {
    font-size: .9em;
  }

  &__desc {
    color:         #5e5e5e;
    font-family:   "Source Sans Pro";
    font-size:     .8em;
    white-space:   nowrap;
    text-overflow: ellipsis;
    overflow:      hidden;
  }
}