@use '../../sass/app.scss' as *;

.navigationbar {
  background-color: $black;
  font-size:        $font-size-base;

  .navbar {
    .navbar-toggler {
      border:  none;
      outline: none;
    }

    .navbar-collapse {
        // &.show {
        //     .navbar-nav {
        //         &__item {
        //             padding: 0.5em 0;
        //         }
        //     }
        // }

        .navbar-nav {
          align-items: center;

          &__item {
            color:           $base-navbar-item-color;
            font-size:       1.2em;
            padding:         0 0.8em;
            text-transform:  uppercase;
            text-decoration: none;

            &:hover {
              color: $white;
            }
          }

          &:nth-child(2) {
            button.btn-custom {
              background-color: $nj-orange;
              border-color:     $nj-orange;
              padding:          0.5em;
              color:            $white;
            }

            .navbar-nav__item {
              font-size: 0.9em;
            }
          }
        }
    }
  }
}